{% extends 'customer/base.html' %}

{% block bodyblock %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="main-box ">
    <h2 class="sign-in mb-4">Reset Password</h2>
    <p>Enter your e-mail address, and we will send you a link to reset your password.</p>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
    </form>
  </div>
</div>
{% endblock %}

